$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Merriweather', serif;

$bg-color: #2B2D38;
$white: #E1E1E1;
$pure-white: #FFFFFF;
$grey: #ABABAB;
$pink: #DB2A6B;
$yellow:#F4B840;
$violet: #6E1FED;
$orange: #FF7E29;
$lightblue:#60D3D9;