.left-section {
    display: flex;
    flex-direction: column;
    gap: 50px; 
    .hero {
        display: flex;
        flex-direction: column;
    
        .hero__title {
            font-size: 80px;
            font-weight: 700;
            margin-bottom: 40px;
            font-family: $secondary-font;
            width: 90%;
        }
    
        .hero__subtitle {
            font-size: 22px;
            opacity: 0.7;
            margin-bottom: 50px;
            width: 80%;
        }
    
        .hero__buttons {
                display: flex;
                justify-content: left;
                gap: 30px;
                margin-bottom: 100px;
    
    
                .hero__button {
                    background-color: $pink;
                    color: white;
                    font-weight: 400;
                    padding: 10px 20px;
                    text-decoration: none;
                    border-radius: 5px;
                    transition: background 0.3s;
    
    
                    &:hover {
                        background-color: lighten($pink, 10%);
                    }
    
                    &-link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: $white;
    
                        &:hover {
                            text-decoration: underline $pink;
                            text-underline-offset: 15px;
                        }
                    }
                }
        }
    }
    .features {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        flex-wrap: nowrap;
        width: 70%;

        article {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(33.333% - 20px); // Tres artículos por fila
            box-sizing: border-box;
            padding: 3px;

            &:hover {
                cursor: pointer;
                text-decoration: underline $white;
                color: $pink;
                text-underline-offset: 8px;
                transition: color 0.3s ease-in-out;
            }

            img {
                width: 40;
                max-width: 60px;
                height: auto;
                padding: 5px;
                background-color: #4d4d4d;
                border-radius: 10px;
                object-fit: cover;
                margin-right: 5px;
            }

            p {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-left: 3px;
                font-size: 1.1rem;
                font-weight: 600;
            }
        }
    }
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: -30px;
    .images-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}